* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --top-spacing: 137px;
}

html {
  scroll-padding-top: var(--top-spacing);
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

#logo {
  max-width: 300px;
  width: 175px;
}

#nav-bar {
  font-weight: 400;
  width: 40vw;
}

#nav-bar ul {
  display: flex;
  justify-content: space-around;
}

#nav-bar li {
  list-style: none;
  text-align: right;
  font-size: 18px;
}

#nav-bar a:hover {
  color: #BF796E;
  transition: color 0.3s ease-out;
  font-weight: bold;
}

.nav-link {
  color: black;
  text-decoration: none;
}

#welcome {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin: 150px 25px;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 425px;
}

.welcome-info h1 {
  font-size: 48px;
}

.welcome-info p {
  padding: 15px 0;
  font-size: 18px;
}

.welcome-info button {
  width: 120px;
  height: 30px;
  background-color: #BF796E;
  color: white;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
}

.welcome-info button:hover {
  background: rgba(191, 121, 110, 0.76);
  transition: color 0.3s ease-out;
}

.welcome-info a {
  text-decoration: none;
  color: white;
}

#coffee-shop {
  width: 400px;
}

#specialties {
  background-color: #BF796E;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 570px;
  color: white;
  justify-content: center;
  gap: 10%;
}

#specialties h1 {
  font-size: 38px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  font-size: 15px;
}

.sub-head {
  padding: 5px 0;
  font-weight: 600;
}

.menu-item p {
  width: 200px;
}

#menu-pic {
  width: 200px;
  border: 5px solid bisque;
  border-radius: 7px;
  padding: 7px;
}

#macchiato img {
  width: 237px;
}

.quote-sec {
  background-color: bisque;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  width: 600px;
}

#span {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: right;
}

#contact {
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 850px;
  height: 170px;
  background-color: #BF796E;
  border-radius: 7px;
  justify-content: space-evenly;
}

.contact-btn {
  width: 100px;
  height: 30px;
  border: 2px solid white;
  background-color: #BF796E;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 7px;
}

.contact-block button:hover {
  background: rgba(208, 152, 143, 0.76);
  transition: color 0.3s ease-out;
}

footer {
  height: 100px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}